<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
              content="Портал автомастерских. Автомастерские регистрируются на сайте и подписываются на заявки по разным типам услуг (шиномонтаж, замена масла и проч.). Пользователи могут оставить заявку и выбрать из предложений наиболее подходящий по различным условиям (цена, время, место расположения, отзывы).">
        <meta name="keywords" content="портал автомастерских, ремонт авто">
        <link rel="icon" type="image/png" href="{{ asset('static/assets/logo.png')}}" sizes="16x16">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('/static/css/bootstrap.min.css')}}"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/static/css/style.css')}}">
    </head>
    <body>
        <nav>
            <nav fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('static/assets/logo.png')}}" width="32" height="32">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAutoservices" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Для автосервисов
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownAutoservices">
                                <a class="dropdown-item" href="/all_requests">Список заявок</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('autoservice_new') }}">Добавить автосервис</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClients" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Для клиентов
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownClients">
                                <a class="dropdown-item" href="/autoservice">Список автосервисов</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/one_request_admin">Добавить заявку на ремонт</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/autoservice">Редактирование автомастерских</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
        {% block body %}{% endblock %}
    </body>
    <!-- Footer -->
    <footer fragment="footer" class="py-4 bg-dark">
        {% block footer %}
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Репин Артём ПИ62 <br>2020</p>
        </div>
            {% block javascripts %}
                <!-- /.container -->
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="{{ asset('static/js/jquery-3.4.1.slim.min.js')}}"
                        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                        crossorigin="anonymous"></script>
                <script src="{{ asset('static/js/popper.min.js')}}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                        crossorigin="anonymous"></script>
                <script src="{{ asset('static/js/bootstrap.min.js')}}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                        crossorigin="anonymous"></script>
                <script src="https://kit.fontawesome.com/e9184998a5.js" crossorigin="anonymous"></script>
            {% endblock %}
        {% endblock %}
    </footer>

</html>
